<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="team-section">
      <div class="team-container">
        <h2 class="team-title">OUR TEAM</h2>
        <p class="team-describe">
          Our team is made up of talented and passionate individuals who are
          committed to providing the best experience for our users. Each member
          brings a unique set of skills and expertise to the table, allowing us
          to work collaboratively and effectively to achieve our goals.
        </p>
        <ul class="team-list">
          <li class="team-point">
            <img
              src="./img/team-img/img1.jpeg"
              alt="David Patel"
              width="264"
              height="260"
            />
            <h3 class="team-name">David Patel</h3>
            <p class="team-prof">Managing Direcor</p>
          </li>
          <li class="team-point">
            <img
              src="./img/team-img/img2.jpeg"
              alt="Rachel Kim"
              width="264"
              height="260"
            />
            <h3 class="team-name">Rachel Kim</h3>
            <p class="team-prof">Lead Designer</p>
          </li>
          <li class="team-point">
            <img
              src="./img/team-img/img3.jpeg"
              alt="Samantha Chen"
              width="264"
              height="260"
            />
            <h3 class="team-name">Samantha Chen</h3>
            <p class="team-prof">Lead Developer</p>
          </li>
          <li class="team-point">
            <img
              src="./img/team-img/img4.jpeg"
              alt="Andrew Nguyen"
              width="264"
              height="260"
            />
            <h3 class="team-name">Andrew Nguyen</h3>
            <p class="team-prof">Sr. UI Designer</p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
